.App {
  text-align: center;
}

.map {
  height: 80vh;
  width: 100%;
}

.popup {
  min-width: 300;
}

.player-container {
  padding: 10px;
  width: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player {
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

/* .leaflet-bar { */
/* } */
.player-icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
  background: #fff;
  color: #f5821f;
}
