.map {
  height: 80vh;
  width: 100%;
}

.loading-container {
  padding: 8px;
  height: 100%;
  color: #f5821f;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.mark {
  color: #555;
  padding: 4px;
}

.center {
  margin-left: 40vw;
}

.leaflet-bar {
  border-radius: 4px;
}

.player-container {
  padding: 10px;
  width: 60vw;
  display: flex;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: space-around;
  align-items: center;
}

.player {
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.player-icon {
  height: 40px;
  width: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
  background: #fff;
  color: #f5821f;
}

.player-icon:hover {
  filter: brightness(0.8);
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
}

/*POPUP STYLES*/
.leaflet-div-icon {
  background: #a8a8a8;
  border-radius: 50%;
}

.custom .leaflet-popup-tip {
  background: #a9a9a9;
}
.custom .leaflet-popup-content-wrapper {
  color: #ffffff;
  background: #a9a9a9;
}
.custom .leaflet-popup-content {
  flex: 1;
  display: flex;
  margin: 6px;
  max-width: 150px;
  min-width: 100px;
  background: #a9a9a9;
}

.wave-score {
  color: white;
  padding: 5% 2%;
  min-width: 50px;
  text-align: center;
  border-radius: 10%;
  margin: -4% 2% -4% -4%;
  background-color: #f79429;
}

.wave-score > span {
  top: 15%;
  position: relative;
  line-height: normal;
  font-size: 1.4em;
}

.wave-link {
  text-align: center;
  margin-left: 5px;
}

.wave-link > a {
  color: black;
  font-size: 1.2em;
}
